html, body{
	margin: 0;
	padding: 0;
	color:#313130;
	background-color: #f7f6f1;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/*
	#f7f6f1- под цвет карты
	#869193-темный серый
	#e7e8ea-светлый серый*/
}

@font-face {
    font-family: 'a_antiquetituldcfrregular';
    src: 
         url('/fonts/5631-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src:
    local("Roboto-Regular"),
    url("/fonts/roboto.woff") format("woff");
}

header{
	min-height: 593px;
	background-image: url(/img/456.jpg);
	background-size: cover;
	opacity: 0.7;
	font-family: a_antiquetituldcfrregular;
	text-align: center;
	box-shadow: 0 0 8px 3px;
	color: black;
	/*a_AntiqueTitulDcFr*/
}

.name{
	font-size: 85px;
	padding-top: 80px;
}

.phone{
	font-size: 40px;
	padding-top: 40px;
}

h1{
	font-family: "Roboto";
	font-size: 30px;
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

h3{
	font-family: "Roboto";
	font-size: 25px;
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,0.2);
	text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.columns {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  margin: auto;
  margin-left: 20px;
}

.column-nav {
	flex-grow: 0.6;
	text-align: left;
	margin-top: 20px;
}

.navbar{
	margin: 0;
  	padding: 0;
  	list-style-type: none;
  	width: 100px;
}

.navbar a {
	display: block;
	background-color: #f7f6f1;;
	color: #313130;;
	padding: 10px;
}

#index {
	border-left: 10px solid greenyellow;
}
#index:hover {
	background-color: greenyellow;
}

#services {
	border-left: 10px solid yellow;
}
#services:hover {
	background-color: yellow;
}

#contacts {
	border-left: 10px solid rgb(47, 255, 238);
}
#contacts:hover {
	background-color: rgb(47, 255, 238);
}

#rent {
	border-left: 10px solid rgb(85, 47, 255);
}
#rent:hover {
	background-color: rgb(85, 47, 255);
}


.column{
	flex-basis: 120px;
}

.column-main{
	flex-grow: 5;
}

.column-contact{
	flex-grow: 5;
	text-align: left;
	margin-bottom: 30px;
}

#map{
	margin: 10px;
	margin-bottom: 20px;
	opacity: 0.8;
}

footer{
	min-height: 100px;
	background: linear-gradient(to top, #869193 10%, #f7f6f1 100%);
	opacity: 0.7;
	text-align: right;
	font-size: 12px;
	padding-right: 50px;
}

.data{
	text-align: center;
}

.spinner{
	margin: 0 auto;
	width: 25px;
	height: 25px;
	border: 25px solid;
	border-radius: 50%;
	border-left-color: transparent;
	border-top-color: greenyellow;
	border-right-color: rgba(172, 255, 47, 0.671);
	border-bottom-color:rgba(172, 255, 47, 0.315);
	animation: spin 500ms infinite linear;
}
@keyframes spin{
	100%{
		transform: rotate(360deg)
	}