*
  box-sizing: border-box

body 
  font-family: "Roboto"
  
img
  max-width: 100%

.container
  max-width: 1120px
  margin: auto

.section
  padding: 55px 0
  border-bottom: 1px dashed lighten($text-color, 30%)

.title 
  color: $main-color
  font-size: 23px
  text-align: center
  text-transform: uppercase

.text
  &_bold 
    font-weight: bold
  &_big 
    font-size: 23px