.premises 
  &-slider 
    display: flex
    justify-content: space-between
    &__item 
      outline: none
  &-card 
    display: flex
    flex-direction: column
    align-items: center
  &__subtitle 
    font-size: 18px
    color: $main-color
    text-transform: uppercase
  &__text 
    text-align: center