.services 
  text-align: left
  &__title 
    margin-bottom: 30px
  &-content 
    max-width: 650px
    margin: auto
    text-align: justify
  &-list 
    padding: 0
    list-style: none
    &__item 
      margin-bottom: 20px

.list 
  &-secondary 
    padding-inline-start: 20px
    list-style: none
    &__item 
      margin: 8px 0
      &:before
        content: "•"
        font-size: 20px
        color: $secondary-color
        padding-right: 7px
